html {
    box-sizing: border-box;
}
body {
    background-color: rgb(243, 240, 240);
}
header {
    width:1200px;
    margin:0 auto;
}

img.logo {
    display: block;
    margin:80px auto 40px;
}

main {
    background-color: #fff;
    width:1200px;
    margin:0 auto;
}
img.sea {
    display: block;
    width:1200px;
}
div.border {
    border-bottom: 10px solid rgb(0, 199, 206);
}

div.title {
    margin: 40px auto;
}

h1 {
    font-family: 'Niramit', sans-serif;
    font-size: 40px;
    text-align: center;
    
}
div.textblock1 {
    margin: 0px auto;
    padding:0px 150px 50px;
}

img.swim {
    float: right;
    padding:0 0 40px 20px;
}

h2 {
    font-family: 'Niramit', sans-serif;
    font-size: 20px;
    
}

p {
    font-family: 'Niramit', sans-serif;
    font-size: 17px;
    
}

nav {
    position: fixed;
    bottom:0;
    left:0;
    width:100%;
    
}

nav a {
    font-family: 'Niramit', sans-serif;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color:#fff;
    width:20%;
    padding:12px 0;
    display:inline-block;
    transition:0.5s all ease-in-out;

}
.red {background-color: red;}
.pink {background-color: rgb(252, 161, 222);}
.yellow {background-color: rgb(255, 219, 15);}
.green {background-color: rgb(168, 255, 55);}
.blue {background-color: rgb(75, 204, 255);}

a:hover {padding:20px 0 10px;}

.red:hover {background-color: rgb(165, 1, 1);}
.pink:hover {background-color: rgb(180, 71, 144);}
.yellow:hover {background-color: rgb(182, 158, 21);}
.green:hover {background-color: rgb(119, 172, 51);}
.blue:hover {background-color: rgb(62, 155, 192);}